server:
  port: 8100
  tomcat:
#    basedir: /var/log/
    accesslog:
      enabled: true
      prefix: access_log
#      pattern: '%h %l %u %t %r %s %b'
#      directory: containers

spring:
  application:
    name: gm-demo

  jpa:
    hibernate:
      ddl-auto: update
    hikari:
      minimum-idle: 50
      maximum-pool-size: 50
    database-platform: org.hibernate.dialect.PostgreSQLDialect

s3:
  bucket-path: "s3-gm-bucket-2023"

logging:
  level:
    com.aws.gmdemo: DEBUG
