apiVersion: apps/v1
kind: Deployment
metadata:
  name: demoapp-deployment
  labels:
    app: demoapp-service
spec:
  replicas: 4
  selector:
    matchLabels:
      app: demoapp-service
  template:
    metadata:
      labels:
        app: demoapp-service
    spec:
      serviceAccountName: custom-eks-sa
      nodeSelector:
        nodegroup-type: "managed-backend-workloads"
      containers:
      - resources:
        requests:
          cpu: 2
          memory: 4000Mi
      - name: demoapp-service
        image: kustomization-eks-repository
        imagePullPolicy: Always
        ports:
        - containerPort: 8100
      restartPolicy: Always

